{% load i18n inlinetrans %}
{% if is_translator %}
<script language="javascript">
(function ($) {
  $(document).ready(function () {
    var messages_dict = {
       givetranslationfor: '{% trans "Give a new translation for " %} "{0}" {% trans "to" %} {{ language }}',
       emptytranslation: '{% trans "You are sending an empty translation ¿Are you sure? " %}',
       reloading: '{% trans "Reloading" %}',
       apply_changes: '{% trans "Apply changes" %}',
       applying_changes: '{% trans "Applying changes" %}',
       error_cant_send: '{% trans "Cannot send translation" %}',
       error_cant_restart: '{% trans "Cannot restart server" %}'

    };
    var new_translation_url = "{% url inlinetrans.views.set_new_translation %}";
    var restart_url = "{% url inlinetrans.views.do_restart %}";

    var toolbar_tpl = '\
        <div class="inlinetrans-container">\
            <span class="inlinetrans-caption">{% trans "Translator" %}</span> \
            <span class="inlinetrans-translation">{% trans "Your are translating: ENGLISH" %} ➔ {{ language|upper }}</span> \
            <span class="inlinetrans-progress">{% trans "Done:" %} XX%</span> \
            <span class="inlinetrans-actions">\
                <span class="inlinetrans-action highlight-trans">{% trans "See translatable items" %}</span>\
                <span class="inlinetrans-action highlight-notrans">{% trans "See non translated items" %}</span>\
                <span class="inlinetrans-action restart-server">{% trans "Apply changes" %}</span>\
            </span>\
            <img class="inlinetrans-busy" src="{{ INLINETRANS_STATIC_URL }}img/ajax-loader-transparent.gif"/>\
        </div>';
    // init inlinetrans toolbar
    $('#{{ node_id }}').inlinetranstoolbar(toolbar_tpl, new_translation_url, restart_url, messages_dict);
  });
})(jQuery);
</script>
{% endif %}
