/*
    Main Styles for django-inlinetrans tool bar.
*/

.inlinetrans-container {
    background-color: #ededed;
    border: #ddd solid 1px;
    font-family: sans-serif;
    font-size: 11px;
    height: 19px;
    top: 0px;
    right: 0px;
}

.inlinetrans-caption {
    font-weight: bold;
    margin: 0 2em;
}

.inlinetrans-translation {
    margin-right: 2em;
}

.inlinetrans-action {
    cursor: pointer;
    padding: 0.5em;
}

.inlinetrans-action.active {
    background-color: #afafaf;
    color: #fdfdfd;
}

.inlinetrans-highlight {
    background-color: #90ee90;
}

.inlinetrans-untranslated {
    background-color: #ffc0cb;
}

.inlinetrans-highlight:hover,
.inlinetrans-untranslated:hover {
    background-color: #fdfdfd;
    border: 1px solid #999;
}

.restart-server {
    display: none;
    margin: 0.5em 1em;
}

.inlinetrans-busy {
    display: none;
    height: 16px;
    width: 16px;
}
